body {
	width: 1000px;
	margin: auto;
	background: #3d1005;
	color: #fada7a;
	padding: 0px;
}

#header {
	background: #4A1206 url(grashuepfer-mittel.png) no-repeat;
	color: white;
	text-align: center;
	background-repeat: no-repeat;
	border-radius: 5px;
	padding-top: 50px;
	margin: 40 auto;
	padding-top: 50px;
	height: 250px;
}

}
#logo {
	margin: 55px;
}

.navself {
	list-style: none;
	text-align: center;
	width: 1000px;
	margin-top: 90px;
}

.content {
	margin: 20px auto;
	padding: 10px;
}


p img {
	width: 150px;
	margin-right: 20px; 
}

#rockforafrica {
	width: 300px;
	margin-right: 20px;
}

.karussel {
	display: inline-block;
	height: 1000px;
}

.karussel img {
	width: 500px;
}


#footer {
	background-color: #2d1004;
	height: 20px;
	padding: 10px 10px 10px 20px;
}


